<a href="https://colab.research.google.com/github/adisonhn/gms-acsl-python3/blob/master/Coding_01_data_types%2C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Data Types

Python supports various data types, including:
- `int` for integers
- `float` for floating point, which can represent real numbers
- `bool` for boolean (i.e. `True` or `False`)
- `str` for string (i.e. textual data)

You can get the type of a variable or an expression by passing it to the `type` function.

In [ ]:
print(type(123))
print(type(100.23))
print(type(True))
print(type(12 < 10))
print(type('this is a string'))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'str'>

In [ ]:
# this is an int (integer)
a = 17
print(a)

17

In [ ]:
# this is a string
b = "17"
c = "hello world"
print(b)
print(c)

17
hello world

Both `a` and `b` are printed as `17`. But when we print out the `type(a)` and `type(b)`, we see tht `a` is of type `int` while `b` is of type `str`.

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
print(type(b))

<class 'str'>

In [ ]:
age = 17
print(type(age))

next_age = age + 1

print("next year you will be", next_age)

# you can also use operator + (plus sign) to concatenate (means to join) two strings
# see this example below... 
print("next year you will be " + str(next_age))

# but you cannot do this:
# print("next year you will be " + next_age)
# because you cannot concatenate string with int. it will give you an error!

# print function accepts multiple input parameters (they can be of different types)
# and will print each one of them separated by space
print("a", "b", 12)
# wlll print: a b 12

<class 'int'>
next year you will be 18
next year you will be 18
a b 12

Now let's see if the same code works when we define `age` as a `str` type.

You will see that this program below will fail. Python will complain saying:
```
TypeError
----> 4 next_age = age + 1
      5 print("next year you will be ", next_age)

TypeError: can only concatenate str (not "int") to str
```
It doesn't like the fact that you are trying to add (`+`) variable `age` (which is a `str`) with an `int` (the value `1`).

In [ ]:
age = "17"
print(type(age))

next_age = age + 1
print("next year you will be ", next_age)

<class 'str'>

TypeError: ignored

# input() function

You can use `input()` function to let user enter a value and capture the response as a `str` typed value.

You can convert a `str` into `int` by using `int()` function.

In [ ]:
age = input("What is your age? ")
# at this point, age is of type str
print(type(age))
age = int(age) # now we convert age to become int
print(type(age))

print('You said your age is', age)
print('Next year you will be', age + 1)

What is your age? 17
<class 'str'>
<class 'int'>
You said your age is 17
Next year you will be 18